@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,500;1,600&family=Montserrat:wght@700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,500&family=Rubik:wght@300&display=swap');

/* font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif; */


.container{

    margin-bottom: 30px;
    background-color: lightcyan;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 2px 2px 8px gray;
    transition: all .2s ease-in-out;
}

.container:hover{
    transform: scale(1.05);
}

.container:hover .image img {
    filter: blur(3px);
}


.image{

    /* background-color: lightblue; */

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    width: 368;
    height: 240px;
}

.image img{
    width: 368px;
    height: 240px;
    filter: blur(6px);
}

.name{
    width: 100%;
    height: 30%;
    background-color: #F8E881;
    
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px;

    width: 368px;
    height: 56px;

    letter-spacing: 1px;

}

.name a{
    text-decoration: none;
    color: black;
    /* text-transform: capitalize; */
}

.footer{
    background-color: #c0dff7 ;
    height: 60px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
        font-family: 'Montserrat', sans-serif;
            text-align: center;
            font-weight: 700;
            font-size: 2em;
    letter-spacing: 1px;
}